.footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 85rem;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input {
    border-radius: 1.875rem;
    color: #aaaaaa;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
    max-width: 100%;
}

.footer-social span {
    margin-bottom: 1rem;
    display: block;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul {
    display: flex;
    gap: 1.25rem;
}

.footer ul ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav strong {
    color: #ededed;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 400;
}

.footer-nav li a {
    color: #ffffff;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.footer-social li a:hover img {
    opacity: 0.7;
}

hr {
    color: #ededed;
}

.footer-copy {
    color: #ededed;
    text-align: center;
    font-size: 1.25rem;
    padding: 20px 0;
}

@media (max-width: 768px ) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }
    .footer-nav ul {
        flex-direction: column;
        gap: 2rem;
    }
    .footer-social ul {
        gap: 1rem;
    }
    .footer-copy {
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }
}